* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    width: 99%;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}