#location-search {
    height: 30px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 0 20px;
    width: 200px;
    text-align: center;
}

#details-box {
    border: 1px solid black;
    margin-top: 35px;
    width: 300px;
    height: 150px;
}